<div class="row">
    <h1 class="text-center"><%= @client.name %></h1>
    <hr>
</div>
<div class="row">
    <div class="col-md-6">
        <panel class="panel panel-default">
            <h3 class="text-center">Client Stories</h3>
            <table class="table table-striped table-border">
                <tr>
                    <th>Story Title</th>
                    <th>Story Description</th>
                </tr>
                
                <% @stories.each do |story| %>
                <tr>
                    <td><%= story.title %></td>
                    <td><%= story.description %></td>

                </tr>
                <% end %>
            </table>

        </panel>
    </div>
    
    <div class="col-md-6">
        <panel class="panel panel-default">

        </panel>
    </div>
    

</div>