<body class="body-main">
<%= render '/layouts/navigation' %>
About us
<div>
    <address>
    1050 Crater Lake Ave<br>
    Medford, Oregon<br>
    (541)622-8119
    </address>
</div>

<div class="text-center">
	<%= @about_us %>
</div>