<body class="body-main" ng-controller="artistController as artistCtrl">
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/artists">Artists</a></li>
				<li><a href="http://www.permanentmakeupbybritta.com" target="new">Permanent Makeup</a></li>
				<li>Appointments</li>
			</ul>
		</nav>
	</header>

	<section id="artists">
		<div>
		<ul>
			<li class="display-artist" ng-repeat="artist in artists.data">

			<div class="display-artist">
				<div>
					<img class="avatar" ng-src={{artist.avatar}}/>
					<h1>{{artist.name}}</h1>
					<p>{{artist.bio}}</p>
				</div>
				<div class="display-samples">
					
					<div ng-repeat="image in artist.images">
						<div class="display-thumb" style="background-image: url('{{image.url}}')">
						</div>
					</div>
					
				</div>
				<p class="more"><a href="/view_artist/{{artist.id}}">See More</a></p>
			</div>
			</li>
		</ul>
		
		</div>
	</section>
	
</body>