        <header>
        <nav>
            <ul>
				<li><a href="/#!/">Rogue Tattoo</a></li>
				<li><a href="/#!/artists">Artists</a></li>
				<li><a href="http://www.permanentmakeupbybritta.com" target="new">Permanent Makeup</a></li>
				<li class="float-right margin-zero"><a href="https://www.facebook.com/RogueTattoos" target="new"><img ng-src="/images/facebook.jpg"></a></li>
				<li class="float-right margin-zero"><a href="https://www.instagram.com/roguetattoo1050" target="new"><img ng-src="/images/instagram.jpg"></a></li>
            </ul>
        </nav>
        </header>

	<h1 class="text-center show-artist">{{artist.data.name}}</h1>
	<div id="artist-profile">
		<img class="profile-avatar" ng-src={{artist.data.avatar}}/>
		<a href={{artist.data.facebook}} target="new"><img class="social-media" src="/images/facebook.jpg" /></a>
		<a href={{artist.data.instagram}} target="new"><img class="social-media" src="/images/instagram.jpg" /></a>
	</div>

	<div id="portfolio">
		<div id="port-thumbs">
			<ul>
				<li class="thumb-list" ng-repeat="image in artist.data.images">
					<a href analytics-on="ng-click" analytics-event="ClickFullImage" ng-click='setFullImage(image.url)'>
					<div class="port-thumb" style="background-image: url('{{image.url}}')">
					</div>
					</a>
				</li>
			</ul>
		</div>

		<div id="full-image">
			<img ng-src={{fullsize}} alt="Full Size Preview" />
			<pin-it url="'http://www.rogue-tattoo.com'" description='artist.data.name' media='fullsize' config=""></pin-it>
		</div>
	</div>
	