        <header>
        <nav>
            <ul>
				<li><a href="/#!/">Rogue Tattoo</a></li>
				<li><a href="/#!/artists">Artists</a></li>
				<li><a href="http://www.permanentmakeupbybritta.com" target="new">Permanent Makeup</a></li>
				<li class="float-right margin-zero"><a href="https://www.facebook.com/RogueTattoos" target="new"><img ng-src="/images/facebook.jpg"></a></li>
				<li class="float-right margin-zero"><a href="https://www.instagram.com/roguetattoo1050" target="new"><img ng-src="/images/instagram.jpg"></a></li>
				<li id="pin" class="float-right margin-zero"><a data-pin-do="buttonBookmark" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_28.png" /></a></li>
            </ul>
        </nav>
        </header>

	<section id="artists">
		<div>
		<ul>
			<li class="display-artist" ng-repeat="artist in artists.data">

			<div class="display-artist">
				<div>
					<img class="avatar" ng-src={{artist.avatar}}/>
					<h1>{{artist.name}}</h1>
					<p>{{artist.bio}}</p>
				</div>
				<div class="display-samples">
					
					<div ng-repeat="image in artist.images">
						<div class="display-thumb" style="background-image: url('{{image.url}}')">
						</div>
					</div>
					
				</div>
				<p class="more"><a href="/#!/view_artist/{{artist.id}}">See {{artist.name}}'s full tattoo portfolio</a></p>
				<br>
			</div>
			</li>
		</ul>
		
		</div>
	</section>
