
	<header>
		<nav>
			<ul>
				<li><a href="/#!/">Home</a></li>
				<li><a href="/#!/artists">Artists</a></li>
				<li><a href="http://www.permanentmakeupbybritta.com" target="new">Permanent Makeup</a></li>
				<li></li>
			</ul>
		</nav>
        <img src="images/header.png">
	</header>

	<section id="main">
		<div id="displays">
            <ul>
                <li class="list-display" ng-repeat="data in display.data">
                    <div class="display" style="background-image: url('{{data.image}}');">

                    </div>
                </li>
            </ul>
		</div>

        <article id="greetings">
            <section id="rogue-info">
                        <h1>Rogue Tattoo</h1>
                        <p>Rogue Tattoo, a tattoo shop serving Southern Oregon, including Ashland, Medford, and Grants Pass.  Rogue Tattoo offers traditional, realism, tribal, black and grey, and Japanese tattoos, as well as Permanent Makeup.  Appointments prefered, but walk-ins welcome.
                        </p>
            </section>

            <section id="news">
            <ul>
                <li ng-repeat="news in newsposts.data">
                    <h2>{{news.heading}}</h2>
                    <p>{{news.body}}</p>
                </li>
            </ul>
            </section>
        </article>
    </section>

    <footer>
        <ul>
            <li id="address">
                <address>1050 Crater Lake Hwy, Medford OR 97504</address>
            </li>
            <li id="phone">
                Phone: 541-622-8119
            </li>
            <li id="hours">
                Hours: Monday - Saturday: 11AM - 6PM
            </li>
        </ul>
    </footer>