<div class="container-fluid">
    <div class="row">
        <header>
        <nav>
            <ul>
				<li><a href="/#!/">Rogue Tattoo</a></li>
				<li><a href="/#!/artists">Artists</a></li>
				<li><a href="http://www.permanentmakeupbybritta.com" target="new">Permanent Makeup</a></li>
            </ul>
        </nav>
        </header>
        <section id="displays" class="col-md-8">
            <ul>
                <li class="list-display" ng-repeat="data in display.data">
                    <div>
                        <img class="display" ng-src='{{data.image}}'>
                    </div>
                </li>
            </ul>
        </section>
    

	<section id="main" class="col-md-4">


        <article id="greetings">
            <section id="rogue-info">
                        <img class="logo" ng-src="/images/logo.jpg">
                        <p>Rogue Tattoo, a tattoo shop serving Southern Oregon, including Ashland, Medford, and Grants Pass.  Rogue Tattoo offers traditional, realism, tribal, black and grey, and Japanese tattoos, as well as Permanent Makeup.  Appointments prefered, but walk-ins welcome.
                        </p>
            </section>

            <section id="news">
            <ul>
                <li ng-repeat="news in newsposts.data">
                    <h2>{{news.heading}}</h2>
                    <p>{{news.body}}</p>
                </li>
            </ul>
            </section>
        </article>
    </section>
</div>
    <footer>
        <ul>
            <li id="address">
                <address>1050 Crater Lake Ave, Medford OR 97504</address>
            </li>
            <li id="phone">
                Phone: 541-622-8119
            </li>
            <li id="hours">
                Hours: Monday - Saturday: 11AM - 7PM
            </li>
            <li>
                <a href="http://www.rubywebs.net">Created and Maintained by Rubywebs.net</a>
            </li>
        </ul>
    </footer>
</div>