body *
{
  margin: 0px;
  padding: 0px;
  position: relative;
}

body
{
  background-color: black;
  position: relative;
  //max-width: 1400px;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: image_url("bg.jpg"); //url(images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section#main ul
{
  list-style: none;
}

.list-display
{
  width: 31.3%;
  max-height: 255px;
  margin: 1%;

  //padding-bottom: 20%;
  //height: 0px;
  //width: 175px;
  //height: 175px;
  float: left;
}

.display
{
  width: 100%;
  max-height: 255px;
  padding: 1%;
}

.display-img
{
  width: 100%;
  height: 100%;
}

.float-left
{
  float: left;
}

.float-right
{
  float: right;
}

header
{
  margin-bottom: 10px;
  width: 100%;
}

header img
{
  //width: 80%;
  height: 100%;
  margin-right: 10px;
}

header nav
{
  height: 55px;
  line-height: 30px;
  padding: 12.5px 0px;
  //background-color: rgb(40,40,40);
  background-color: #2F2F2F;
  width: 100%;
  //margin-left: 10%;
  //margin-right: 10%;
  //border-top: solid 2px silver;
  //border-bottom: solid 2px silver;
}

header nav ul
{
  width: 100%;
  height: 100%;

  position: relative;
  display: block;
}

header nav ul li
{
  //width: 25%;
  height: 100%;
  margin-left: 30px;
  margin-right: 10px;
  float: left;
  display: list-item;
  text-align: center;
  list-style: none;
}

header nav ul li a
{
  text-decoration: none;
  //color: #999999;
  font-size: 15px;
  color: #D0D0D0;
}
header nav ul li a:hover
{
  //background-color: rgb(30,30,30);
  color: red;
  text-decoration: none;
}

.logo
{
  width: 100%;
}

section#main
{
  //width: 80%;
  //height: 500px;
  //margin-left: 10%;
  //margin-right: 10%;
}

div#displays
{
  float: left;
  clear: left;
  width: 70%;
  max-height: 1000px;

  //height: 500px;
  margin-bottom: 10px;
}

div#slide-show img
{
  width: 100%;
}

#displays li
{
  list-style: none;
}

article#greetings
{
  //float: left;
  //width: 30%;
  //height: 500px;
  //overflow-y: auto;


}

article#greetings p
{
  text-align: justify;
  color: #999999;
  font-family: 'Dekko', cursive;
  font-size: 18px;
  background-color: rgba(0,0,0,0.75);
}

article#greetings ul li
{
  text-align: center;
  color: #FB4141;
  font-family: 'Dekko', cursive;
  font-size: 18px;
  background-color: rgba(0,0,0,0.75);
}

section#rogue-info
{
  margin-top: 0%;
  margin-bottom: 5px;
  border-bottom: groove 3px red;
}

section#rogue-info h1
{
  text-align: center;
  font-size: 24px;
  color: red;
  margin-bottom: 3px;
}

section#about
{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  clear: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

section#news
{
  clear: left;
  width: 100%;
  margin-top: 10px;
}

section#news li
{
  margin-bottom: 10px;
}

section#news h1
{
  text-align: center;
  color: red;
  border-bottom: groove 2px silver;
}

li.news-item
{
  list-style: none;
}

div.date
{
  float: left;
  display: block;
  width: 15%;
  color: red;
}

div.title
{
  width: 85%;
  float: left;
  color: red;
}

div.news-content
{
  border-bottom: groove 2px grey;

}

#location
{
  width: 100%;
}

footer
{
  width: 100%;
  margin: 0px;
  //height: 20px;
  //margin-left: 10%;
  //margin-right: 10%;
  background-color: #2F2F2F;
  color: red;
  //float: left;
  clear: left;
  //background-color: rgb(40,40,40);
  //border-top: solid 2px silver;
  //border-bottom: solid 2px silver;
}

footer ul
{
  list-style: none;
}

footer ul li
{
  //float: left;
  //display: block;
}

.black-background
{
  background-color: black;
}

li#address
{
  //width: 40%;
}

li#phone
{
  //width: 25%;
}

li#hours
{
  //width: 35%;
}

/* Artist Page */
section#artists
{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
}

section#artists h1
{
  color: red;
}

section#artists p
{
  color: white;
}

section#artists a
{
  color: white;
  text-decoration: none;
  border-bottom: solid 1px white;
}

li.display-artist
{
  list-style: none;
  margin-bottom: 10px;
  border: solid 1px red;
}

div.display-area
{
  width: 100%;
  background-color: black;
  float: left;
}

.display-thumb
{
  
  width: 8%;
  padding-bottom: 8%;
  float: left;
  background-size: cover;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 3px;
  list-style: none;
  
}

.display-artist
{
  width: 100%;
  height: 100%;
}

.td-preview
{
  width: 10%;
}
.avatar
{
  float: left;
  width: 20%;
  margin: 10px;
}

.display-samples
{
  width: 100%;
  clear: both;
}

.display-artist p.more
{
  clear: left;
  padding-left: 10px;
}

.profile-avatar
{
  width: 100%;
}

div#artist-profile
{
  width: 20%;
  float: left;
}

div#artist-profile h1
{
  text-align: center;
}

div#artist-profile .social-media
{
  width: 20%;
  margin: 2.5%;
  float: left;
}

div#portfolio
{
  width: 80%;
  float: right;
}

div#port-thumbs
{
  width: 36%;
  float: left;
}

div#port-thumbs li
{
  width: 31%;
  margin: 1%;
}

.port-thumb
{
  width: 100%;
  padding-bottom: 100%;
  float: left;
  background-size: cover;
  list-style: none;
}

div#full-image
{
  float: right;
  width: 64%;
}

div#full-image img
{
  width: 100%;
}

.thumb-list
{
  float: left;
  list-style: none;
}

.text-center
{
  text-align: center;
}

.margin-zero
{
  margin: 0px;
}

#pin
{
  margin-right: 10px;
}
div#dashboard
{
  color: red;
}

h1.show-artist
{
  color: red;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear .75s;
    display: block !important;
    left: 0;
}

.animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove {
    opacity: 0;
    left: -100%;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    left: 0;
}