// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body-main
{
    background-color: #000000;
    background-image: url(asset_path("bg.jpg"));
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment:fixed;
    color: white;
}

.homeimage
{
    width: auto;
    height: auto;
    margin-left:auto;
    margin-right:auto;
}

.homeimageloc
{
    position:fixed;
    bottom:50px;
    left:0px;
    right:auto;
    
}
.panel-home
{
    background-color:rgba(0,0,0,0.5);
    height: auto;
    max-height:75%;
}

.nav-image
{
    height: auto;
    width: 100px;
}

.table-home
{
  margin-left:auto;
  margin-right:auto;
}

.home-logo
{
  width: 200px;
}
